In [7]:
'''Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.'''

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()  # Initializing web driver

driver.get('https://www.shine.com/')  # Opening shine.com
driver.maximize_window()
time.sleep(30)


# Filling criteria to search job 
designation =driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Analyst')
time.sleep(20)

location =driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')
time.sleep(20)

search =driver.find_element(By.CLASS_NAME, 'searchForm_btnWrap_advance__VYBHN')
search.click()

#Creating empty list
job_title =[]
job_location =[]
company_name =[]
experience_required =[]

# Scrapping job title from the given page
title_tags =driver.find_elements(By.XPATH, '//h2[@itemprop="name"]/a')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the given page
location_tag =driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag[0:10]:
    job_location.append(i.text)
    
# Scrapping company name from the given page
company_tag =driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tag[0:10]:
    company_name.append(i.text)
    
# Scrapping experience required from the given page
exp_tag =driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tag[0:10]:
    experience_required.append(i.text)
    
# Creating DataFrame with all the searched data
df =pd.DataFrame({'Job Title': job_title, 'Job Location': job_location, 'Company Name': company_name, 
                  'Experience Required': experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Management,Bangalore\n+18,future solution centre,15 to >25 Yrs
5,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs

In [10]:
'''
Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
'''

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()   # Initializing web driver

driver.get('https://www.shine.com/')  # Opening shine.com

# Filling criteria to search job 
designation =driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

location =driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

search =driver.find_element(By.CLASS_NAME, 'searchForm_btnWrap_advance__VYBHN')
search.click()

# Creating empty list
job_title =[]
job_location =[]
company_name =[]

# Scrapping job title from the given page
job_tag =driver.find_elements(By.XPATH, '//h2[@itemprop="name"]')
for i in job_tag[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the given page
location_tag =driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag[0:10]:
    job_location.append(i.text)
    
# Scrapping company name from the given page
company_tag =driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tag[0:10]:
    company_name.append(i.text)
    
# Creating Dataframe
df =pd.DataFrame({'Job Title': job_title, 'Location': job_location, 'Company Name': company_name})
df

,Job Title,Location,Company Name
0,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...
1,Data Scientist Urgent Vacancy,Bangalore\n+15,renuka interprises
2,Data Scientist Recruitment,Bangalore\n+15,renuka interprises
3,Data Scientist Recruitment,Bangalore\n+15,renuka interprises
4,Data Scientist,Bangalore\n+4,acme services private limited
5,Data Scientist,Bangalore,ltimindtree limited
6,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal
7,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution
8,Senior Data Scientist,Bangalore\n+1,neostats
9,Lead Data Scientist,Bangalore\n+1,aereo

In [14]:
'''
Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
'''

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome() # Initializing web driver

driver.get('https://www.shine.com/')  # Opening shine.com

#Filling criteria to search job
designation =driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

location =driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Delhi/NCR')

salary =driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[2]/li[1]/div/input[1]')
salary.send_keys('3- 6 Lakh')

search =driver.find_element(By.CLASS_NAME, 'searchForm_btnWrap_advance__VYBHN')
search.click()

# Creating empty list
job_title =[]
job_location =[]
company_name =[]
experience_required =[]

# Scrapping job title from the given page
title_tag =driver.find_elements(By.XPATH, '//h2[@itemprop="name"]')
for i in title_tag[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the given page
location_tag =driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag[0:10]:
    job_location.append(i.text)
    
# Scrapping Company Name from the given page
company_tag =driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tag[0:10]:
    company_name.append(i.text)
    
# Scrapping experience required from the given page
experience_tag =driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tag[0:10]:
    experience_required.append(i.text)
    
# Creating DataFrame
df =pd.DataFrame({'Job Title': job_title, 'Job Location': job_location,
                  'Company Name': company_name, 'Experience Required': experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,Australia\n+2,advance immigrations,8 to 13 Yrs
1,Data Scientist,Virgin Islands (Uk)\n+3,skywalk visa immigration services l...,2 to 7 Yrs
2,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs
3,Data Scientist | Senior Data Scientist Chennai,Chennai,talent leads hr solutions pvt ltd,8 to 13 Yrs
4,Data Scientist Urgent Vacancy,Canada\n+15,renuka interprises,0 to 4 Yrs
5,Data Scientist Urgent Vacancy,Canada\n+15,renuka interprises,0 to 4 Yrs
6,Data Scientist Urgent Vacancy,Canada\n+15,renuka interprises,0 to 4 Yrs
7,Data Scientist,Gurugram\n+1,right advisors private limited,2 to 7 Yrs
8,Data Scientist/Data Analyst-17740,All India,gemraj technologies ltd,3 to 7 Yrs
9,Senior Data Scientist - Claims Analysis,Other Karnataka,molecular connections,2 to 5 Yrs

In [15]:
'''
Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
'''

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()  # Initializing web driver

driver.get('https://www.flipkart.com/')  # Opening flipkart.com

# Filling criteria to search Sunglasses
designation =driver.find_element(By.CLASS_NAME, 'Pke_EE')
designation.send_keys('Sunglasses')

search =driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

#Creating empty list to store data
brand =[]
productdesc =[]
price =[]

# Scrapping Sunglasses Brand from the given page
start =0
end =3

for page in range(start,end):
    brand_tag =driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
        
        if len(brand)==100:
            break
        
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
    
# Scrapping Sunglasses description from the given page
start =0
end =3

for page in range(start,end):
    product_tag =driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_tag:
        productdesc.append(i.text)
        
        if len(productdesc) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
    
# Scrapping Sunglasses price from the given page
start =0
end =3

for page in range(start, end):
    price_tag=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
        
        if len(price) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
# Creating dataframe to display data
df =pd.DataFrame({'Brand Name': brand, 'Product Description': productdesc, 'Price':price})
df.tail(10)

,Brand Name,Product Description,Price
90,ROYAL SON,"by Lenskart Polarized, UV Protection Wayfarer ...",₹418
91,Eyewearlabs,"UV Protection, Gradient Butterfly Sunglasses (52)","₹1,999"
92,Fastrack,"UV Protection, Gradient Round Sunglasses (58)",₹539
93,Niavaa,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹247
94,VINCENT CHASE,Mirrored Round Sunglasses (53),₹499
95,ROADWAY,UV Protection Round Sunglasses (Free Size),₹129
96,AISLIN,UV Protection Wayfarer Sunglasses (53),₹497
97,Eyewearlabs,"Polarized, UV Protection, Mirrored Wayfarer, R...","₹2,199"
98,SPORT COLLECTION,"UV Protection, Gradient Wayfarer Sunglasses (59)",₹399
99,Elligator,UV Protection Over-sized Sunglasses (65),₹169

In [16]:
'''
Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
'''

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()  # Initializing web driver
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8X0KYUG&marketplace=FLIPKART')
driver.maximize_window()

# Creating empty list
rating =[]
review =[]
fullreview =[]

# Scrapping rating from flipkart.com
start =0
end =10

for page in range(start, end):
    rating_tag =driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    
    for i in rating_tag:
        rating.append(i.text)
        
        if len(rating) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
    
# Scrapping review from flipkart.com
start =0
end =10

for page in range(start, end):
    review_tag =driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    
    for i in review_tag:
        review.append(i.text)
        
        if len(review) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
    
# Scrapping full review from flipkart.com
start =0
end =10

for page in range(start, end):
    fullreview_tag =driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    
    for i in fullreview_tag:
        fullreview.append(i.text)
        
        if len(fullreview) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
    
# Creating Dataframe
df =pd.DataFrame({'Rating': rating, 'Review': review, 'Full Review': fullreview})
df.tail(10)

,Rating,Review,Full Review
90,5,Must buy!,It’s really awesome
91,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
92,5,Brilliant,Excellent Phone.
93,5,Brilliant,very good camera quality
94,5,Excellent,NYC
95,5,Fabulous!,It’s very good battery life and display and vi...
96,5,Terrific purchase,Value for money 🖤🖤
97,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
98,5,Super!,Good product 👌I love iPhone
99,5,Simply awesome,Really satisfied with the Product I received.....

In [17]:
# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()  # Initializing web driver
driver.get('https://www.flipkart.com')  # Opening page flipkart.com
driver.maximize_window()

# Filling search criteria
searchbox =driver.find_element(By.CLASS_NAME, 'Pke_EE')
searchbox.send_keys('sneakers')

search =driver.find_element(By.CLASS_NAME, '_2iLD__')
search.click()

# Creating empty list
brand =[]
productdesc =[]
price =[]

# Scrapping brand from flipkart.com
start =0
end =3

for page in range(start, end):
    brand_tag =driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    
    for i in brand_tag:
        brand.append(i.text)
        
        if len(brand) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    

# Scrapping product description from flipkart.com
start =0
end =3

for page in range(start, end):
    productdesc_tag =driver.find_elements(By.XPATH, '//div[@class="_2B099V"]/a[1]')
    
    for i in productdesc_tag:
        productdesc.append(i.text)
        
        if len(productdesc) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
    
# Scrapping price from flipkart.com
start =0
end =3

for page in range(start, end):
    price_tag =driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    
    for i in price_tag:
        price.append(i.text)
        
        if len(price) ==100:
            break
            
    next_button =driver.find_element(By.CLASS_NAME, '_1LKTO3')
    next_button.click()
    time.sleep(3)
    
#Creating dataframe
df =pd.DataFrame({'Brand Name': brand, 'Product Description': productdesc, 'Price': price})
df.tail(10)

   Brand Name                                Product Description   Price
90       ATOM                                 Sneakers For Women  ₹1,339
91         TR  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹305
92       ATOM                            CAVE-O Sneakers For Men  ₹1,089
93     BRUTON                                 Sneakers For Women    ₹325
94       aadi  Casual Sneaker Shoes For Women | Stylish and C...    ₹299
95       PUMA  Casual Sneaker Shoes for Men | Soft Cushioned ...  ₹1,569
96         TR  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹325
97     lejano                                   Sneakers For Men    ₹430
98   Shoe Lab                 TRACK - KNOCKHILL Sneakers For Men    ₹399
99  Deals4you  Sneaker Casual Shoes for Men | Soft Cushioned ...    ₹299

In [18]:
'''
Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
'''

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()  # Initializing web driver
driver.get('https://www.amazon.in/')  # Opening amazon.in
driver.maximize_window()

#Filling criteria to search
searchbox =driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
searchbox.send_keys('Laptop')

search =driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

cpu =driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[9]/li/span/a/span')
cpu.click()

# Creating empty list
title =[]
rating =[]
price =[]

# Scraping product title from amazon
title_tag =driver.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

for i in title_tag[0:10]:
    title.append(i.text)
    
# Scraping product rating from amazon
rating_tag =driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]/span[1]')

for i in rating_tag[0:10]:
    rating.append(i.get_attribute('aria-label'))
    
# Scraping product rating from amazon
price_tag =driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')

for i in price_tag[0:10]:
    price.append(i.text)
    
#Creating Dataframe
df =pd.DataFrame({'Product Title': title, 'Rating': rating, 'Price': price})
df

,Product Title,Rating,Price
0,"HP Laptop 15, Intel Celeron N4500, 15.6-inch (...",3.3 out of 5 stars,"26,100"
1,"ASUS BR1100 Laptop, 11.6"" (29.46cm) HD Anti-Gl...",4.5 out of 5 stars,"15,697"
2,HP Chromebook X360 Intel Celeron N4120 14 inch...,3.9 out of 5 stars,"26,990"
3,"Lenovo IdeaPad Slim 1 Intel Celeron N4020 14"" ...",3.9 out of 5 stars,"24,990"
4,"ASUS Vivobook 15, Intel Celeron N4020, 15.6"" (...",3.9 out of 5 stars,"27,990"
5,"Lenovo IdeaPad 1 Intel Core Celeron N4020 14"" ...",5.0 out of 5 stars,"26,490"
6,"Lenovo IdeaPad 1 Intel Core Celeron N4020 14"" ...",3.7 out of 5 stars,"22,490"
7,"Lenovo V15 Intel Celeron N4500 15.6"" (39.62 cm...",3.8 out of 5 stars,"22,990"
8,AXL VayuBook Laptop 14.1 Inch FHD IPS Display ...,3.2 out of 5 stars,"12,990"
9,"ASUS BR1100 Notebook 12 (2022), 11.6-inch HD, ...",4.0 out of 5 stars,"14,690"

In [7]:
# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()  # Initializing web driver
driver.get('https://www.azquotes.com/')  # Opening azquotes.com
driver.maximize_window()

# Click on Top Quotes
top_quotes =driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

# Creating empty list
quotes =[]
author =[]
quote_type =[]

# Scraping quotes
start =0
end =10
x =1

for page in range(start, end):
    quotes_tag =driver.find_elements(By.XPATH, '//a[@class="title"]')
    
    for i in quotes_tag:
        quotes.append(i.text)
    
    x+=1  # To skip click on next button on last page
    if x ==10:
        continue
    next_button =driver.find_element(By.CLASS_NAME, 'next')
    next_button.click()
    
    time.sleep(3)
    
# Scraping author
first =driver.find_element(By.CLASS_NAME, 'first')
first.click()

start =0
end =10
x =1

for page in range(start, end):
    author_tag =driver.find_elements(By.XPATH, '//div[@class="author"]')
    
    for i in author_tag:
        author.append(i.text)
    
    x+=1  # To skip click on next button on last page
    if x ==10:
        continue
    next_button =driver.find_element(By.CLASS_NAME, 'next')
    next_button.click()
    
    time.sleep(3)
    
# Scraping quotes type
first =driver.find_element(By.CLASS_NAME, 'first')
first.click()

start =0
end =10
x =1

for page in range(start, end):
    qtype_tag =driver.find_elements(By.XPATH, '//div[@class="tags"]')
    
    for i in qtype_tag:
        quote_type.append(i.text)
    
    x+=1  # To skip click on next button on last page
    if x ==10:
        continue
    next_button =driver.find_element(By.CLASS_NAME, 'next')
    next_button.click()
    
    time.sleep(3)
    
# Creating dataframe
df =pd.DataFrame({'Quotes': quotes, 'Author Name': author, 'Quote Type': quote_type})
df.tail(10)

,Quotes,Author Name,Quote Type
990,Give me six hours to chop down a tree and I wi...,Abraham Lincoln,"Inspirational, Motivational, Leadership"
991,We have to be careful in how we use this light...,Melinda Gates,"Light, Use, Be Careful"
992,"To solve any problem, here are three questions...",Jim Rohn,"Inspirational, Mistake, Learning"
993,You've got to know your limitations. I don't k...,Johnny Cash,"Twelve, Way, Found"
994,I always wonder why birds choose to stay in th...,Harun Yahya,"Inspirational, Success, Travel"
995,To love means loving the unlovable. To forgive...,Gilbert K. Chesterton,"Love, Inspirational, Success"
996,Be brave. Take risks. Nothing can substitute e...,Paulo Coelho,"Encouraging, Courage, Inspiration"
997,"If you really want to do something, you'll fin...",Jim Rohn,"Inspirational, Motivational, Success"
998,It is neither wealth nor splendor; but tranqui...,Thomas Jefferson,"Life, Happiness, Work"
999,A thousand words will not leave so deep an imp...,Henrik Ibsen,"Inspirational, Inspiring, Positivity"

In [16]:
'''
Q9: Write a python program to display list of respected former Prime Ministers of India
(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
'''

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()   # Initialising webdriver
driver.get('https://www.jagranjosh.com/')  # Opening website
driver.maximize_window()

# Click on GK
gk_click =driver.find_element(By.XPATH, '/html/body/div[1]/header/nav/div/div/div[3]/ul/li[3]/a')
gk_click.click()
time.sleep(10)

# Click on explore button
explore_click =driver.find_element(By.XPATH, '/html/body/div[1]/div[8]/section[5]/div[1]/span/a')
explore_click.click()
time.sleep(10)

# Click on list of prime ministers
pm_click =driver.find_element(By.XPATH, '/html/body/div[1]/main/div[1]/div[1]/section[2]/div/ul/li[11]/article/h3/a')
pm_click.click()

# Creating empty list
pm_name =[]
born_dead =[]
term_of_office =[]
remarks =[]

# Scraping Prime Minister name
pm_tag =driver.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[2]/div')

for i in pm_tag:
    pm_name.append(i.text)
    
# Scraping Prime Minister born-dead information
born_tag =driver.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[3]/div')

for i in born_tag:
    born_dead.append(i.text)
    
# Scraping Prime Minister term
term_tag =driver.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[4]/div[1]')

for i in term_tag:
    term_of_office.append(i.text)
    
# Scraping Remarks
remarks_tag =driver.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[5]/div')

for i in remarks_tag:
    remarks.append(i.text)
    
# Creating DataFrame
df =pd.DataFrame({'Prime Minister Name': pm_name, 'Born-Dead': born_dead, 'Term of Office': term_of_office, 'Remarks': remarks})
df

,Prime Minister Name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [1]:
'''
Q10: Write a python program to display list of 50 Most expensive cars in the world 
(i.e. Car name and Price) from https://www.motor1.com/
'''
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()   # Initialising webdriver
driver.get('https://www.motor1.com/')  # Opening website

search_box =driver.find_element(By.CLASS_NAME, 'm1-search-panel-input m1-search-form-text')
search_box.send_keys('50 most expensive cars')